.node {
  height: 3vh;
  width: 3vh;
  border: 0.25px solid #66ced6;
  background-color: white;
  margin: 1px;
  // transition: 900ms;

  &:hover {
    background-color: #efea5a83;
  }
  &.wall {
    background-color: #1a2c42;
  }
  &.nomo {
    background-color: white;
    transition: 700ms;
  }

  &.travel {
    background-color: #efea5a83;
    transition: 900ms;
  }
  &.route {
    background-color: #f29e4c;
    transition: 900ms;
  }
  &.address {
    background-color: #a4036f;
  }
  &.start-node {
    background-color: #16db93;
  }
  &.end-node {
    background-color: #048ba8;
  }
}
