.tutorial-open {
  top: 0;
  position: absolute;
  height: 65vh;
  width: 50%;
  background-color: white;
  border: 2px solid #2b2d42;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 900ms;
  transform: translateY(20vh);
  color: #2b2d42;
}
.tutorial-closed {
  top: 0;
  position: absolute;
  height: 6vh;
  width: 50%;
  background-color: white;
  border: 2px solid #2b2d42;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 900ms;
  transform: translateY(calc(86vh + 55px));
  color: #2b2d42;
}

.arrow-up {
  transition: transform 900ms;
  cursor: pointer;
}

.arrow-down {
  transform: translateY(-1vh);
  cursor: pointer;
}

.tutorial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  line-height: 30px;
  margin-bottom: 3vh;
}

.tutorial-opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  &-words {
    border-bottom: 2px solid #2b2d42;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  cursor: default;
}

.far {
  font-size: 1.5rem;
  transform: translateY(7px);
}
.fas.fa-book {
  transform: translateY(5px);
}

.far.fa-times-circle {
  font-size: 2rem;
}

.fade-in {
  animation-name: example;
  animation-duration: 1.5s;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
