* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  background: white;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 3vh;
  height: 6vh;
  color: white;
  & > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px;
    width: 12%;
    text-align: center;
    border: 1px solid #2b2d42;
    border-radius: 8px;
    transition: 200ms;
    cursor: pointer;
    background-color: #2b2d42;
    &:hover {
      background-color: #7a5980;
    }
  }
  & div {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  & > div > div {
    height: 4.2vh;
    width: 4.2vh;
    margin-right: 10px;
  }
  & > div > h3 {
    color: black;
  }
}
.start-legend-graphic {
  background-color: #16db93;
}

.end-legend-graphic {
  background-color: #048ba8;
}

.wall-legend-graphic {
  background-color: #1a2c42;
}

.detour-legend-graphic {
  background-color: #a4036f;
}

.path-legend-graphic {
  background-color: #f29e4c;
}

.row {
  display: flex;
}
