.node {
  height: 1.6vw;
  width: 1.6vw;
  border: 1px solid black;
  margin: 0.1vw;
  border-radius: 5px;

  &:hover {
    background-color: red;
  }
  &.travel {
    background-color: red;
  }
  &.start-node {
    background-color: rgb(0, 30, 128);
  }
  &.end-node {
    background-color: rgb(21, 128, 0);
  }
}
