.node {
  height: 1.6vw;
  width: 1.6vw;
  border: 1px solid black;
  margin: 0.1vw;
  border-radius: 5px;

  &:hover {
    background-color: red;
  }
  &.wall {
    background-color: grey;
  }

  &.travel {
    background-color: salmon;
    transition: 900ms;
  }
  &.route {
    background-color: blue;
    transition: 900ms;
  }
  &.address {
    background-color: black;
  }
  &.start-node {
    background-color: rgb(255, 4, 221);
  }
  &.end-node {
    background-color: rgb(21, 128, 0);
  }
}
